aside img{
    float: right;
    width: 20%;
    margin-top: 2%;
    margin-right: 3%;
}

.block{
    display: inline-flex;
}

.block div{
    border: solid;
    display: inline-flex;
    font-size: 150%;
    box-shadow: 2px 2px black;
    margin: 4px 4px 8px 4px;
}

.block img{
    width: 60%;
    height: 55%;
    padding: 5%;
}

.block:hover{
    box-shadow: none;
}

.art{
    background-color: #8073c550;
    display: block !important;
    text-align: center;
}