@media screen and (max-width: 376px) {
    * p{
        font-size: 80%;
    }

    nav{
        display: none;
    }

    aside{
        display: none;
    }

    footer ul{
        display: none;
    }

    i {
        float: left;
        margin-left: 90%;
        margin-top: -8.5%;
        font-size: 150%;
    }
    i:hover {
        
    }
}